<div class="row justify-content-center mt-4">
    <div class="col-lg-4 bg-white rounded shadow-sm p-5">
      <h1 class="mb-3">Stupid Coaching</h1>
      <div id="container">
        <!-- Your code goes here -->
        <div id="question"><blockquote class="blockquote">
          <p class="mb-0">"<%= params[:question].capitalize %>"</p>
          <footer class="blockquote-footer" style="margin-top: 16px;">You</cite></footer>
        </blockquote></div>

        <div id="answer"><blockquote class="blockquote">
          <p class="mb-0">"<%= @answer %>"</p>
          <footer class="blockquote-footer" style="margin-top: 16px;">Coach</cite></footer>
        </blockquote></div>

      </div>
    </div>
  </div>
